<main class="bg-custom-dark min-h-screen flex flex-col items-center justify-center">
    <!-- Encabezado con logo y texto -->
    <div class="flex flex-col items-center justify-center mb-8">
        <!-- Logo -->
        <img src="../../../assets/playez-logo.png" alt="Logo" class="h-40 w-auto mb-2">
    </div>

    <!-- Tarjeta que contiene el formulario -->
    <div class="w-96 bg-custom-white p-6 rounded-lg shadow-md">
    
        <!-- Campos login -->
        <form [formGroup]="formAdmin" (ngSubmit)="onSubmit()" class="space-y-6">
            <p class="text-custom-dark text-center text-lg">Credenciales Administrativas</p>
        
            <!-- EMAIL -->
            <section class="w-full">
                <label class="input input-bordered flex items-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-5 h-5 opacity-70">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                    </svg>
                    <input type="email" formControlName="email" class="form-control text-sm lg:text-base w-full py-2 pl-2" placeholder="Email" />
                </label>
            </section>
        
            <!-- PASSWORD -->
            <section class="w-full">
                <label class="input input-bordered flex items-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-5 h-5 opacity-70">
                        <path fill-rule="evenodd" d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5.0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z" clip-rule="evenodd" />
                    </svg>
                    <input type="password" formControlName="password" class="form-control text-sm lg:text-base w-full py-2 pl-2" placeholder="Contraseña" value="Contraseña" />
                </label>
            </section>
        
            <!-- ENVIAR -->
            <div class="flex justify-center">
                <button type="submit" class="btn px-10 px-7 py-3 rounded-md bg-primary text-center text-s text-custom-dark border border-primary hover:bg-secondary hover:border-secondary focus:ring-secondary focus:ring-opacity-50">
                    Entrar
                </button>
            </div>

            <!-- Alerta -->
            <div *ngIf="alertMessage" class="fixed inset-0 flex items-center justify-center">
                <div class="bg-custom-dark text-custom-white py-2 px-4 rounded-md">
                    {{ alertMessage }}
                </div>
            </div>
        </form>
    </div>
</main>
