<section class="bg-body-gradient flex flex-row">
  <app-navbar></app-navbar>
  <div class="container mx-auto mx-25 my-5">
    <div class="container mx-auto px-6">
      <table class="min-w-full divide-y bg-secondary divide-primary overflow-x-auto shadow-md rounded-full">
        <thead class="bg-custom-dark text-white rounded-full shadow-md mb-5">
          <tr>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-custom-white uppercase tracking-wider">
              THUMBNAIL
            </th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-custom-white uppercase tracking-wider">
              TÍTULO
            </th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-custom-white uppercase tracking-wider">
              DESCRIPCIÓN
            </th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-custom-white uppercase tracking-wider">
              CATEGORÍA <!-- Nueva columna -->
            </th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-custom-white uppercase tracking-wider">
              USERNAME
            </th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-custom-white uppercase tracking-wider">
              EMAIL
            </th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-custom-white uppercase tracking-wider">
              FECHA/HORA
            </th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-custom-white uppercase tracking-wider">
              ACTIONS
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-800 text-custom-white divide-y divide-primary rounded-lg shadow-md mb-5" *ngIf="posts.length">
          <tr *ngFor="let post of posts">
            <td class="px-2 py-4 whitespace-nowrap h-24 rounded-lg shadow-md mb-5"> <!-- Ajustar altura de la fila -->
              <div class="flex items-center justify-center h-20 w-20">
                <img class="h-full w-full object-cover rounded-lg" *ngIf="isImage(post.file); else videoContent" [src]="post.file" alt="{{post.title}}">
                <ng-template #videoContent>
                  <video [src]="post.file" class="h-full w-full object-cover rounded-lg"></video>
                </ng-template>
              </div>
            </td>
            <td class="px-2 py-4 whitespace-nowrap">
              <div class="text-sm font-medium text-custom-white">
                {{post.title}}
              </div>
            </td>
            <td class="px-2 py-4 whitespace-nowrap">
              <div class="text-sm text-custom-white">{{post.description}}</div>
            </td>
            <td class="px-2 py-4 whitespace-nowrap">
              <div class="text-sm text-custom-white">{{post.category}}</div> <!-- Nueva celda -->
            </td>
            <td class="px-2 py-4 whitespace-nowrap">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-primary text-custom-dark">
                {{ post.user?.[0]?.name }}
              </span>
            </td>
            <td class="px-2 py-4 whitespace-nowrap text-sm text-custom-white">
              {{ post.user?.[0]?.email }}
            </td>
            <td class="px-2 py-4 whitespace-nowrap text-sm">
              {{post.Created_At}}
            </td>
            <td class="px-2 py-4 text-sm font-semibold text-center">
              <div class="inline-block">
                <a class="block mb-2 text-primary hover:rounded-lg" (click)="openEditModal(post)">EDIT</a>
                <a class="text-red-700 hover:bg-transparent hover:border-red-700" (click)="openDeleteModal(post)">DELETE</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>



    <!-- Modal de confirmacion para editar el post -->
<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="showModal">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
              <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Edit Post</h3>
              <div class="mt-2">
                <form (ngSubmit)="savePost(editedPost)">
                  <div class="mb-4">
                    <label for="title" class="block text-gray-700 font-bold mb-2">Title:</label>
                    <input type="text" id="title" [(ngModel)]="editedPost.title" name="title" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                  </div>
                  <div class="mb-4">
                    <label for="description" class="block text-gray-700 font-bold mb-2">Description:</label>
                    <textarea id="description" [(ngModel)]="editedPost.description" name="description" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required></textarea>
                  </div>
                  <div class="mb-4">
                    <label for="category" class="block text-gray-700 font-bold mb-2">Category:</label>
                    <input type="text" id="category" [(ngModel)]="editedPost.category" name="category" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                  </div>
                  <div class="mb-4">
                    <label for="users_id" class="block text-gray-700 font-bold mb-2">Users ID:</label>
                    <input type="text" id="users_id" [(ngModel)]="editedPost.users_id" name="users_id" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                  </div>
                  <div class="mb-4">
                    <label for="Created_At" class="block text-gray-700 font-bold mb-2">Created At:</label>
                    <input type="text" id="Created_At" [(ngModel)]="editedPost.Created_At" name="Created_At" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                  </div>
                  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Save</button>
                  <button (click)="closeModal()">Cerrar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Confirmación para Eliminar Post -->
<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="showDeleteModal">
  <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
            <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Confirmar Eliminación</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">¿Estás seguro de que quieres eliminar este post?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" (click)="confirmDelete()" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
          Eliminar
        </button>
        <button type="button" (click)="closeDeleteModal()" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

  </div>
</section>